[Unit]
Description=Fluxbenchd Service
PartOf=flux.target
After=fluxos.service
Wants=fluxos.service

[Service]
Type=exec

User=root
Group=root

ExecStart=/usr/local/bin/fluxbenchd -datadir={{ datadir }}
PrivateTmp=true

Restart=always
RestartSec=3s

TimeoutStopSec=15s
TimeoutStartSec=15s

[Install]
WantedBy=multi-user.target
