[Unit]
Description=Flux group target
After=network-online.target
Wants=containerd.service
Wants=docker.service
Wants=mongod.service
Wants=syncthing.service
Wants=fluxbenchd.service
Wants=fluxd.service
Wants=fluxos.service
